@import "../variables/Variables.scss";

.gen_container{
    @include backgroundTexture();
    @include flexCenter(column, none);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;


    div{
        @include shadow();
        @include flexCenter(column, none);
        justify-content: flex-end;
        margin-top: 5em;
        border: 1px solid black;
        width: 50%;
        height: 32em;
        @include waterColor();
    }
    form{
        width: 100%;
        @include navbarBackground();
        @include shadow();
    }
    fieldset{
        border: none;
    }
    button{
        @include styleButtons();
    }
    label{
        color: #fff;
    }
}
#image_placeholder{
    width: 100%;
    @include waterColor();
}
