@import "../variables/Variables.scss";

.open_prompt_card{
    @include backgroundTexture();
    @include flexCenter(column, none);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;



    div{
        @include shadow();
        @include flexCenter(column, center);
        margin-top: 5em;
        border: 1px solid black;
        width: 50%;
        height: 32em;
        @include waterColor();

        h1{
            @include scribblesFont();
            font-size: 40pt;
            @include textDec();
            text-align: center;
            
        }

    }
}
