@import "../variables/Variables.scss";

.header_div{
    @include backgroundTexture();
    display:flex;
    justify-content: space-between;
    align-items:center;
    #title{
        height: 120px;
    
    }
    // span{
    //     width: 650px;
    //     justify-content: space-between;
    //     display:flex;
    // }

    .navbar_user_functions{
        align-self: center;
    }
    button{
        margin-top: .5em;
        @include styleButtons();
    }
    .title_div{
    }
    h1{
        @include scribblesFont();
        font-size: 40pt;
    }
}
.login_header_div{
    @include backgroundTexture();
    display:flex;
    justify-content: space-between;
    align-items:center;
    #title{
        height: 120px;
    
    }
    // span{
    //     width: 650px;
    //     justify-content: space-between;
    //     display:flex;
    // }

    .navbar_user_functions{
        align-self: center;
    }
    button{
        margin-top: .5em;
        @include styleButtons();
    }
    .title_div{
        display:flex;
        justify-content: center;
        width: 100%;
    }
    h1{
        @include scribblesFont();
        font-size: 40pt;
    }
}
#logo{
    height: 100px;
    width: 100px;
    // margin: 0px;
    margin-left: 2em;
}
.navbar_user_functions{
    display:flex;
    flex-direction: column;
    margin: 0em 2em;
}
