//Fonts
@mixin scribblesFont {
    font-family: 'Scribbles' ;
    src : url('../fonts/Scribbles-Regular.woff');
    font-weight: normal;
    font-style: normal;
    word-spacing: 15px;
}

//Colors
//paper pallette
$border: #786c5e;
$brown: #85724b;
$green: #747462;
$gray: #c9c8be;

//watercolor palette
$blueGray: #334c63;
$darkBlue: #1a3a63;
$lightBlue: #b6cadc;
$blue: #7495b5;

//ink palette
$purpleGray: #453363;
$darkPurple: #4e1a63;
$lightPink: #dcb6da;
$red: #b57474;
//moods
$angry: #e74040;
$sad: #2f3cb1;
$neutral: #7a7a7a;
$anxious: #42a819;
$happy: #d4d639;
$calm: #2f8fac;
$scared: #b6772e;



@mixin emotions ($color){
    color: #fff;
    text-shadow: 0px 0px 5px black,
    0px 0px 10px $color,
    0px 0px 15px $color;
}

//Mixins

@mixin waterColor {
    background: url(../../../../public/images/watercolor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin caution{
    background: url(../../../../public/images/madness.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin inked {
    background: url(../../../../public/images/inked.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin cautionHover {
    background: url(../../../../public/images/cautiontapehover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out .7s;
}

@mixin buttonGlow($color) {
        
        &:hover{
            box-shadow: 0px 0px 5px black,
            0px 0px 10px $color,
            0px 0px 15px $color;
        }

    
}

@mixin backgroundTexture {
    background: url(../../../../public/images/plain-paper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin navbarBackground {
    background: url(../../../../public/images/wood-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin cardBackground {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),url(../../../../public/images/paper-four.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin textDec {
    color: #fff;
    text-shadow: 0px 0px 5px black;
}

@mixin flexCenter($direction, $position) {
    display:flex;
    flex-direction: $direction;
    justify-content: $position;
    align-content: $position;

}

@mixin textshadow {
    // color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@mixin borders {
    border: 1px solid black;
    border-image: url(/public/images/border.png);
    border-image-width: inherit;
    border-image-repeat: inherit;
}

@mixin shadow {
    box-shadow: 0px 0px 10px black,
    0px 0px 15px black;
}

@mixin textShadow {
    text-shadow: 0px 0px 10px black;
}

@mixin styleButtons{
        cursor: pointer;
        margin-left: 5px;
        margin-bottom: 5px;
        border: 1px solid black;
        background-color: transparent;
}

