@import "../variables/Variables.scss";

//This targets the entire dashboard container
.dashboard_main_container{
   
    @include backgroundTexture();
    display:flex;

    section{
        // @include borders();
        margin: 1em;
        // @include shadow();
        // flex: 1;
    }

}
#open_section{
    width: 30%;
    // overflow:scroll;
}
#closed_section{
    width: 50%;
}
#other_section{
    width: 20%;
}
#other_post_nav{
    cursor: pointer;
}
//This is targetting the sections that contain the three kinds of cards
.prompts_section{
    @include flexCenter(column, none);

    h3{
        @include scribblesFont();
        // text-shadow: 0px 0px 5px black;
        // @include navbarBackground();
        box-shadow: 0px 0px 5px black;
        border: 1px solid black;
        text-align: center;
        margin: 0px;
        font-size: xx-large;
        // color: white;
        // text-shadow: 0px 0px 5px black;
    }
    h4{
        
        margin: 5px 1em;
        // @include textShadow();
        text-align: center;
    }
    p{
        font-size: small;
    }
}
//this is targetting the individual open prompt cards
.open_prompts{
    @include flexCenter(column, center);    
    border: 1px solid black;
    // @include shadow();
    @include cardBackground();
    margin: 5px;
    height: 12vh;

    div{
        display:flex;
        justify-content: flex-end;
        align-content:initial;
        
    }
    
}
//This is targetting the invidual finished post cards
.card_container{
    // @include shadow();
    @include textDec();
    
    height: 30vh;
    @include waterColor();
    border: 1px solid black;
    @include flexCenter(row, none);
    margin: 5px;
    button{
        
    }

    div{
        width: 50%;
        
        // border: 1px solid black;
    }
    .chosen_prompts{
        display:flex;
        width: 100%;
        margin: 0px;

        p{
            font-size: small;
        }
    }
}

.finished_picture{
    background-size: cover;
    background-repeat: no-repeat;
}

.closed_prompt{
    @include flexCenter(column, none);
    justify-content: space-between;
    border-left: 2px solid black;

    div{
        width: 100%;
    }
    p{
        margin-left: 5px;
    }
}

.closed_prompt_btns{
    margin: 0px 5px;
    display:flex;
    align-items: baseline;
    justify-content: flex-end;
    button{
        @include styleButtons();
    }
        #angry_btn{
            @include buttonGlow($angry);
        }
        #sad_btn{
            @include buttonGlow($sad);
        }
        #anxious_btn{
            @include buttonGlow($anxious);
        }
        #calm_btn{
            @include buttonGlow($calm);
        }
        #neutral_btn{
            @include buttonGlow($neutral);
        }
        #scary_btn{
            @include buttonGlow($scared);
        }
}
.other_posts{
    @include textDec();
    margin: 5px;
    border: 1px solid black;
    // @include shadow();
    background-size: cover;
    background-repeat: no-repeat;
    text-overflow: ellipsis;
}

#angry{
    @include emotions($angry);
}
#sad{
    @include emotions($sad);
}
#anxious{
    @include emotions($anxious);
}
#calm{
    @include emotions($calm);
}
#neutral{
    @include emotions($neutral);
}
#scary{
    @include emotions($scared);
}
#prompt_text{
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

