@import "../variables/Variables.scss";

.all_post_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    @include backgroundTexture();

    .yet_another_post_container{
        flex: 1 30vw;
        margin: 1em;
    }

    .single_post_container{
        border: 1px solid black;
        min-height: 50%;

        .post_div{
            @include textDec();
            margin: .5em;
            border: 1px solid black;
            // width: 100%;
            height: 20em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }


}