@import "../variables/Variables.scss";

.all_post_container{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    @include backgroundTexture();

    .post_div{
        @include textDec();
        margin: .5em;
        border: 1px solid black;
        width: 20%;
        height: 30%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}